<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <style>        
        table{
          border: 1px solid black;
          padding: 8px;
        }
        td, th{
            height: 50px; 
            width: 50px;
            border: 1px solid black
        }
        
        #cssTable td, th{
            text-align: center; 
            vertical-align: middle;
            }
        </style>
    <!-- As a heading -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand">LAB 4 PBP</a>
          <button
            class="navbar-toggler"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/lab-4/">Home</a>
              <a class="nav-link" href="/lab-4/add-note">Add Note</a>
              <a class="nav-link" href="/lab-4/note-list">Note List</a>
              <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
            </div>
          </div>
        </div>
      </nav>
  </head>
  <body>
      <table style=" flex-direction: column; align-items: center; justify-content: center; width: 100%;" id="cssTable">
          <tr>
              <th>To</th>
              <th>From</th>
              <th>Title</th>
              <th>Message</th>
        </tr>
            {% for note in notes%}
        <tr> 
           <td>{{note.to}}</td>
           <td>{{note.fromWho}}</td>
           <td>{{note.title}}</td>
           <td>{{note.message}}</td>
        </tr>
            {% endfor %}
      </table>
  </body>