<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">

    <style>

    </style>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand">LAB 4 PBP</a>
          <button
            class="navbar-toggler"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="/lab-4/">Home</a>
              <a class="nav-link active" aria-current="page" href="/lab-4/add-note">Add Note</a>
              <a class="nav-link" href="/lab-4/note-list">Note List</a>
            </div>
          </div>
        </div>
      </nav>
  </head>
  <body>
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100%;">
        <form action="" method="POST">
            {% csrf_token %}
            <p>To:</p>
            <input type = "text" name = "to" style="width:220px"> 
            <p>From:</p>
            <input type ="text" name = "fromWho"  style="width:220px">
            <p>Title:</p>
            <input type="text" name= "title" style= "width:220px">
            <p>Message:</p>
            <input type ="text" name = "message"  style="width:220px">

            <input type="submit" value="Submit">
          </form>
    </div>
  </body>
</html>
