<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <style>
    body{margin-top:20px;}
    .card {
    border: 1px solid black;
    margin: 10px;
    }
    .box {
      display: inline;
      width: 100px;
    }
    </style>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand">LAB 4 PBP</a>
          <button
            class="navbar-toggler"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="/lab-4/">Home</a>
              <a class="nav-link" href="/lab-4/add-note">Add Note</a>
              <a class="nav-link active" aria-current="page" href="/lab-4/note-list">Note List</a>
            </div>
          </div>
        </div>
      </nav>
  </head>
  <body>
    {% for note in notes%}
            <div class="card text-white bg-secondary mb-3" style="max-width: 18rem; text-align:left; display:inline-block;">
              <div class="card-header">
                <h4>From: {{note.fromWho}}</h4>
                <h4>To: {{note.to}}</h4>
              </div>
              <div class="card-body">
                <h5 class="card-title">{{note.title}}</h5>
                <p class="card-text">{{note.message}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

      
    {% endfor %}          
  </body>