<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notes</title>
    <style>        
        table, th, td {
          border: 1px solid black;
          padding: 8px;
        }
        </style>
  </head>
  <body>
      <table class = "center">
          <tr>
              <th>To</th>
              <th>From</th>
              <th>Title</th>
              <th>Message</th>
        </tr>
        <tr>
           {% for note in notes%} 
           <td>{{note.to}}</td>
           <td>{{note.fromWho}}</td>
           <td>{{note.title}}</td>
           <td>{{note.message}}</td>
        </tr>
            {% endfor %}
      </table>
  </body>